<div class="row">
  <div class="col-lg-1">
    <aside class="panel">
      <h2>Trending</h2>
    </aside>
    <%= render partial: "panels/footer", locals: { only_sidebar: true } %>
  </div>
  <div class="col-lg-2">
    <main class="panel timeline no-padding">
      <%= render partial: "post_row", collection: @posts, as: :post %>
    </main>
  </div>
</div>
