<main class="panel">
  <h1>About</h1>
  <p>
    <span class="solfanto-brackets">{</span> <span class="solfanto-logo">Solfanto</span>&nbsp;<span class="solfanto-sublogo">microblog</span> <span class="solfanto-brackets">}</span> is an open source demo website written by Matthew Nguyen.
  </p>
  <p>
    The source code is available on <a href="https://github.com/Solfanto/microblog" target="_blank">GitHub</a>.
  </p>
  <p>
    <span class="solfanto-brackets">{</span> <span class="solfanto-sublogo">microblog</span> <span class="solfanto-brackets">}</span> uses the following technologies:
    <ul>
      <li>Ruby on Rails</li>
      <li>Postgresql</li>
      <li>OAuth2</li>
      <li>Bootstrap</li>
      <li>Minitest</li>
    </ul>
  </p>
</main>