<div class="row">
  <div class="col-md">
    <%= render partial: "panels/profile" %>
  </div>
  <div class="col-md-2">
    <div class="panel timeline">
      <%= render partial: "shared/new_post_form" %>
    </div>
  </div>
</div>